<div class="container">
  <div class="row">
    <h1 class="welcome col-md-6 offset-3">Bienvenue au Débit Mutuel</h1>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary col-md-2 offset-5" [routerLink]="['/account']">Connectez-vous</button>
  </div>
</div>