<!-- <nav class="navbar navbar-light bg-info">
  <a class="navbar-brand" routerLink="/">Acceuil</a>
  <a class="navbar-brand" routerLink="/transaction">Opérations</a>
  <a class="navbar-brand" routerLink="/">Acceuil</a>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-4 mb-4 ">
  <a class="navbar-brand" routerLink="/">
    <img src="../assets/photos/euro.jpeg" width="30" height="30"></a>
  <a class="nav-link" routerLink="/transaction">Opérations</a>
  <a class="nav-link" routerLink="/account">Compte</a>
</nav>