<!--<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body selected text-left " *ngIf="selected">
    
    <p>ID:{{selected.id}}</p>  
    <p>Date: {{selected.date | date : "dd/M/yyyy"}}</p>
    <p>Montant: {{selected.amount}} €</p>
    <p>Mouvement:{{selected.mouvement}}</p>
    <p>Compte:{{selected.compte}}</p>
    <button class="btn btn-danger" (click)="deleteTransac()">Supprimer</button>
  </div>
</div>-->
<div class="container">
  <div class="row">
    <div class="selected border-top-1 border border-dark d-flex flex-row mx-auto rounded" *ngIf="selected">
      <p>Id:{{selected.id}}</p>
      <p>Date: {{selected.date | date : "dd/M/yyyy"}}</p>
      <p>Montant: {{selected.amount}} €</p>
      <p>Mouvement:{{selected.mouvement}}</p>
      <p>Compte:{{selected.compte}}</p>
      <button class="btn btn-danger" (click)="deleteTransac()">Supprimer</button>

    </div>
  </div>
</div>


<div class="container">
  <div class="row  mt-3 mb-5 table-wrapper-scroll-y">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Date</th>
          <th scope="col">Mouvement</th>
          <th scope="col">Description</th>
          <th scope="col">Montant</th>
          <th scope="col">Vue</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transaction">
          <th scope="row">{{item.id}}</th>
          <td>{{item.date | date:'dd/M/yyyy'}}</td>
          <td></td>
          <td>{{item.description}}</td>
          <td>{{item.amount}} €</td>
          <td (click)="selected=item"><img [src]="imgSrc" width="30" height="30"></td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="row">
      <form class="form-inline mx-auto" method="post" (ngSubmit)="addTransac()">
        <div class="form-group">
          <label for="date" class="mr-2">Date: </label>
          <input type="date" class="mr-2" [(ngModel)]="newTransa.date" name="date">
        </div>
        <div class="form-group">
          <label for="montant" class="mr-2">Montant: </label>
          <input type="text" class="mr-2" placeholder="Entrez un montant" [(ngModel)]="newTransa.amount" name="montant">
        </div>
        <div class="form-group">
          <label for="description" class="mr-2">Description: </label>
          <input type="text" class="mr-2" placeholder="Description du mouvement" [(ngModel)]="newTransa.description"
            name="id">
        </div>
        <!--<div class="form-group">
          <label for="id" class="mr-2">Id: </label>
          <input type="number" class="mr-2" placeholder="Identifiant" [(ngModel)]="newTransa.id" name="id">
        </div>-->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>



  <!-- {{transaction | json} -->