.selected {
  text-align: center;
  
}
.table-wrapper-scroll-y {
  display: block;
  max-height: 250px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.selected p{
  margin-top: 15px;
  width: 130px;
}
