<!--<section class="container-fluid">
  <div class="row">
    <button type="button" class="btn btn-primary btn-lg btn-block w-50 mx-auto" style="margin-top:25vh;" [routerLink]="['/account-current']">Compte courant: IBAN : FR23 456Y TV54 GBDS2D
      R3356 CKK</button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary btn-lg btn-block w-50 mx-auto" style="margin-top:5vh;" [routerLink]="['/account-pro']">Compte professionnel: IBAN : FR2E 45YF TV44
      GBDDS68 R3356 CKK</button>
  </div>
</section>-->
<button class="btn btn-primary" *ngFor="let data of account">
 {{data.name}}
</button>


<!-- {{account | json}} -->